.detail{
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.container {
    display: block;
	background-image: url("./images/background2-min.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 0px;
    width: 100vw;
	height: auto;
	position: relative;
	top: 100px;
	left:0px;
}

